* {
	margin: 0;
	font-family: Helvetica, sans-serif;
	box-sizing: border-box;
}

:root {
	--lightBlue: #4da2cd;
	--darkBlue: #242f3e;
	--paleYellow: #e6c372;
	--blueGrey: #eef0f2;
}

.footer-container {
	background-color: var(--blueGrey);
	padding: 30px;
}

.main-container {
	padding: 20px 0px;
	background-color: var(--blueGrey);
}

.item-container {
	padding: 20px 50px;
	background-color: var(--blueGrey);
}
